<a href="https://colab.research.google.com/github/panakb/First_pub_rep/blob/master/4_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img height="180px" src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" align="left" hspace="30px" vspace="50px"/>

# Welcome to your first notebook with SDA!

During the classes we will mostly use [Google Colaboratory](https://colab.research.google.com/?hl=en) which is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

However, for bigger projects, especially involving Deep Learning and/or big data reading, it might be a better choice to setup Jupyter Notebook or Jupyter Lab on your computer. Also, it is worth noticing that there is a great number of useful extensions (see [nbextensions](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/index.html) and [jupyter-labextension](https://jupyterlab.readthedocs.io/en/stable/user/extensions.html)) not available for Colab users.

<img src="https://drive.google.com/uc?export=view&id=13lIQ4kT5FBinVdulX23JP7Fe-RyFldSN" alt="Where are we?" align="left" width="1000px" hspace="10px" vspace="10px"/>

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>

# Introduction to Python
Start by reading through the presentation slides

<br><br>

<a href="https://docs.google.com/presentation/d/1cPU4scy5GikxkuAC6Cw1Lif7Lfyd_R0t/edit#slide=id.p1">
<img src="https://drive.google.com/uc?export=view&id=1qna4WPAVKVNyb78btneTwqlJ9pbi615c" title="Presentation slides" width="600" align="left" hspace="20px" vspace="20px"/>

After the **<font color='#ed7d31'>BASIC PYTHON</font>** course you will:
* get your first conctact with IDE
* know the Python basics, incl.
    * variables and data types
    * basic operations (numeric and with strings)
    * functions
    * more complex types (lists, dictionaries, sets)
    * logic and control flow
    * for & while loops
* practice‚ùó

In [ ]:
print("Hello from SDA!")

Hello from SDA!

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# Integrated Development Environments (IDEs)

A software program known as an integrated development environment (IDE) offers complete tools for software development to computer programmers. It typically includes code editor (as well as compiler, interpreter), automation tools, and debuggers.

IDEs that every Data Scientist should know are:
* PyCharm
* Jupyter Notebook (ev. Jupyter Lab)
* Google Colab

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Jupyter Notebook

See the slides [Basic Python](https://docs.google.com/presentation/d/1cPU4scy5GikxkuAC6Cw1Lif7Lfyd_R0t/edit#slide=id.g228bb79a62a_0_21).

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Google Colab

<img src="https://drive.google.com/uc?export=view&id=1WHWWVL33xViMz6mDorKkDH82Cv4BigQi" alt="Google Colab" align="left" width="100px" hspace="10px" vspace="10px"/>

Google Colab is a **free cloud service** that allows you to share **Jupyter notebooks** with others without having to download, install, or run anything on your own computer outside of your browser. What is more, your notebooks can be edited simultaneously by several people who have access to it!

To use Google Colab, all you need to do
is install Google Chrome or the Firefox browser.
Then go to the Google Colab website:
 https://colab.research.google.com/.

 <br>
 <br>

<img src="https://drive.google.com/uc?export=view&id=1TJ1NdAFx0Bo8JDf3Vg1C9Lf2dcQAHFYG" alt="Enter Google Colab" align="right" width="600px" hspace="80px" vspace="10px"/>

After entering the link, we get access to:
* lots of sample notebooks
* quick selection of recently used notebooks
* searches on our **Google Drive** to which Google Colab is linked
* our GitHub repository (if the URL was provided previously)
* option to upload your old notebooks to the server
* create a new notebook (Option: **<font color='#1972E7'>New notebook</font>**)

### Interface

The **Google Colab interface** is intuitive and doesn't differ much from that of Jupyter Notebook / Lab.

<img src="https://drive.google.com/uc?export=view&id=1M28aPps94uK8zF7AwrJT_7NlkarfiitY" alt="Enter Google Colab" align="left" width="1000px" hspace="10px" vspace="30px"/>


1. specify the file name
2. toolbar
3. sidebar
 * with table of contents
 * ready-to-use code snippets
 * tree of files visible and available for our use within the notebook
4. quick addition of new cells
 * with code
 * markdown text)
5. examplary code cell (here we can write our code; clicking on the arrow runs the code)
6. comments section and shortcut to settings
7. resources usage details
8. cell formating option allowing you to
 * move the cell up, down
 * delete the cell
 * download a link to the cell
 * add a comment
 * and other code settings (such as font, line length, etc.)

### Cell management

We use code cells very similar to those of Jupyter. After executing the code, the result appears. When you hover over it, a cross icon appears; clicking on it deletes the set output.

In [1]:
0

0

Text cells, as in the case of Jupyter, support the markdown and LaTeX languages, which can be helpful in writing various mathematical formulas (they are useful in machine learning, oh, they are useful so much ü§ê).

Here's how to write an algebraic expression with a square root
* inline $\sqrt{ax^2+bx+c}$
* in a new line $$\sqrt{ax^2+bx+c}$$

More information can be found [here](https://colab.research.google.com/github/bebi103a/bebi103a.github.io/blob/master/lessons/00/intro_to_latex.ipynb).

Right-clicking on a cell will open a context menu giving us a number of possibilities (similar to those in **<font color='red'>box 8</font>** above), for example:
* downloading a link to a mobile phone and sending it directly to the person concerned
* deleting, copying, cutting and pasting a cell elsewhere
* running the code
* or adding a comment
* add a form

### Save & share your work

After selecting the `File` menu (see **<font color='red'>box 2</font>** above), we have several options to save our notebook:
* saving the file to your Google Drive account
* saving on GitHub (as a commit to our repository)
* saving state internally in Colab

Additionally, we can share the notebook with others by clicking the `Share` button (see **<font color='red'>box 6</font>** above).

If necessary, we can export the contents of the notebook to a `.ipynb` or `.py` file and run or modify it from the IDE (e.g. PyCharm) or Jupyter Notebook / Lab level.

### System commands

Google Colab supports system commands that are not native to Python itself.

Thanks to this, we can, for example, run the
```bash
!git clone
```
command without leaving the colab environment.

For **common system commands** that can be used, type
```bash
!ls /bin
```

Note that bash commands are run by prefixing the command with an exclamation mark `!`.

Some most useful examples are:
* download dataset from the website with `!wget <ENTER URL>`
* install missing Python libraries with `!pip install <LIBRARY>`
* install missing applications with `!apt-get install <LIBRARY>`
* run an existing `my_script.py` file with `!python my_script.py`
* clone a git repository with `!git clone <REPOSITORY URL>`

Moreover, it is possible to capture the results of such commands and save them in a Python variable for later use.
Such a variable will be in the form of a list with elements pointing to the particular results of the command call.

In [ ]:
current_working_dir = !pwd
current_working_dir

['/content']

### Launch external Python files

Suppose we already have a Python code in development that is stored in Google Drive. It is possible to load this file and continue its further modification in Google Colaboratory.

How to do it?

1. Go to the **command palette** (select `Tools` ‚Üí `Command palette` from the toolbar - see **<font color='red'>box 2</font>** - or press `Ctrl + Shift + P`).
1. A search box will appear in which you should search for **Mount Drive**.
1. After selecting your Google account and going through any possible verifications, the drive will be connected and we will gain access to the files located there from the Google Colab level.

Alternatively, expand the tab `Files` from sidebar (see **<font color='red'>box 3</font>**) and select `Mount Drive`.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

The disk will be visible in the `/content` directory, you can check it by calling the system command
```bash
!ls /content
```
or in the sidebar after entering the `Files` tab.

In [ ]:
!ls /content

drive  sample_data

Running the selected python file is done by entering the command
```bash
!python /content/drive/<Drive_name>/further_path_to_file
```

Note that everyone can have a different directory tree in their Google drive and thus a different path to python files. Also, you can search for the files manually and `Copy path` by right-clicking.
<br><br>

<img src="https://drive.google.com/uc?export=view&id=1FLsPoBd5Ch-r1iuQnFEM70W0yLrst_zz" alt="GPU" title="GPU" align="right" width="500px" hspace="50px" vspace="10px"/>

### Using GPU

To speed up the execution of all kinds of instructions, you can allocate a free GPU (Graphical Processor Unit) from a shared area in the cloud. This will be especially helpful for writing machine learning algorithms and executing the code.

To set this runtime environment, click `Runtime` ‚Üí `Change Runtime Type` in the menu.

A window will appear from which you should **select the GPU**.
GPUs can perform parallel operations on multiple datasets, and are therefore commonly used for non-graphical tasks such as machine learning and scientific computing.

### Magic commands

Magics is a set of system commands that provide a mini extensive command language. There are two types: linear and cellular. Linear lines are single-line, cell lines are multi-line and span the entire cell.

For linear magic, the command is preceded by a single `% sign`, and for cell magic, by two characters `%%`:
* `%history` ‚Äì prints the history of the code statements that were run
* `%who` ‚Äì lists the imported modules
* `%%timeit` ‚Äì calculates the statistical execution time of the instructions below
* `%pwd` ‚Äì shows the current working directory

By running the `%lsmagic` command in a cell, Colab will write to us the possible magic commands to use.

In [ ]:
%pwd

'/content'

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# Variables & basic data types

<br><br>
Just as there is no mathematics without numbers, you can't talk about programming without knowing its basic elements! There are several data types in Python and in this section you will learn about the main ones:
* numbers
* strings
* lists
* dicts

Also, you will know how to store them for later use.

Actually, you have already seen one in action üñ® There is an unwritten tradition to start each and every programming course with `"Hello world!"` printed to the console - we've swapped it to `"Hello from SDA!"` ü§ô

```python
print("Hello world")
```
where `"Hello world"` is a string and `print()` is a function that allows to display that string (more about **functions** soon).

Typically, you should know
* how to create a new data of a chosen type
* be familiar with a collection of operations and attributes that they possess
* change the type if needed
* and know how to store them for later usage.

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Basic data types

There is a large number of various `data types` (types determine the amount of memory a variable needs to be stored):

* **<font color='#306998'>PYTHON </font><font color='#ffd33b'>NUMBERS</font>**
 * `int` - integers
 ```python
1, -44, 100, 0
```
 * `float` - real numbers, (ie. floating point numbers)<br>
```python
3\.0, 5.5, 3.1415
```
 * `complex` with imaginary part
```python
2 + 1j
```
* **<font color='#306998'>PYTHON </font><font color='#ffd33b'>TEXT(S)</font>** (called `string(s)` in computer science)
```python
"Hello world"
'Hello world'
```
or
```python
'''
multiline
strings
'''
```
* **<font color='#306998'>PYTHON </font><font color='#ffd33b'>BOOLEAN(S)</font>** boolean values (true/false)
```python
True
False
```
* **<font color='#306998'>PYTHON </font><font color='#ffd33b'>COMPLEX TYPES</font>**
 * lists and tuples (an ordered collection of data points of the same or various types)
```python
[1, 2, 3]  # list
[55, ‚Äòstring‚Äô, True]  # list
(1, 2, 3)  # tuple
(55, ‚Äòstring‚Äô, True)  # tuple
```
the difference between lists and tuples is that the first one is mutable, ie. its values can change, whereas tuple elements are assigned for good (ie. tuples are immutable)
 * dictionaries (map of key ‚Üí value)
```python
{
    ‚ÄòChris‚Äô: 4,
    ‚ÄòHailey‚Äô: 4.5,
    ‚ÄòWillie‚Äô: 5
    }
```
 * sets (collection of unique data points)
```python
{1, 2, 3, 4}
{'a', 'b', 'c'}
```
there are no duplicates, ie. the elements of the set cannot be repeated
* **<font color='#306998'>PYTHON </font><font color='#ffd33b'>EMPTY VALUE</font>** representation of nothing, special type denoting `empty` or `no value`
```python
None
```

All of these data types are Python objects so they acquire a set of built-in functions (so called `methods`) and properties that can be called on them. For example you can use:
* `dir()` to list the available methods and attributes,
* `type()` to check the object type,
* `help()` to print out the documentation.

In [ ]:
type(5), type('abc')

(int, str)

In [ ]:
dir(list)[:5]

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__']

The `isinstance()` function checks the object type and compares it with the type passed to the second argument.

In [ ]:
isinstance(1, object)

True

In [ ]:
isinstance(1, int)

True

In [ ]:
isinstance(1, float)

False

In [ ]:
isinstance([1, 2, 3], list)

True

In [ ]:
isinstance([1, 2, 3], [])

TypeError: ignored

In [ ]:
isinstance([1, 2, 3], (list, dict)), isinstance([1, 2, 3], (int, dict))

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Basic arithmetic operations

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>NUMBERS</font>**

There are **three numeric types** natively supported by Python.
These types are simple and highly intuitive, and have defined all the operations we already know from school (and even more)!

See for yourself how easily you can perform basic arithmetic operations:
* `+` addition
* `-` subtraction
* `*` multiplication
* `/` division and *`//`* so called floor division (where the remainder is discarded)
* `%` modulus to return the remainder of the division
* `**` exponent (power operation)

In [ ]:
2 + 2, 2 + 2 * 2, 2 - 2

(4, 6, 0)

In [ ]:
# power, ie. 2 * 2 * ... * 2 (2 multiplied by itself for 6 times)
2 ** 6

64

In [ ]:
type(2 + 1j)

complex

The only remark is that in Python 3, the operation of dividing two integers may return a floating point number or an integer.
* To get integer part of the division (without the remainder), use the `//` operator.
* In computer science, an important role is also played by the `modulo operator (here denoted as %)`, which gives back the division remainder.

In [ ]:
# division
5 / 3, 5 // 3, 5 % 3

(1.6666666666666667, 1, 2)

In [ ]:
14 / 7

2.0

Also, note that in the example above we started with two integers, divided them and ended up with a float even though 14 was divisible by 7! Sometimes it's convenient to use `int()` function that allows to change an input type to integer.

In [ ]:
int(14 / 7)

2

In [ ]:
int("5")

5

In [ ]:
int(16 / 7)

2

**<font color='#306998'>TYPE </font><font color='#ffd33b'>CONVERSION</font>**

There are two types of Type Conversion in Python (and we already have had examples of both):
* Implicit - Python interpreter automatically converts one data type to another without user involvement
* Explicit - data type is manually changed by the user, e.g. with `int()` function

For number type conversion, see also
```python
float()
ord()
bin()
```

In [ ]:
bin(10)  # converts int to binary representation

'0b1010'

In [ ]:
int("100")

100

In [ ]:
str(250)

'250'

### More complex arithmetic operations

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>NUMBERS</font>**

If the operations listed above are not sufficient for your needs, you can also `import math` a module containing set of mathematical functions (see more on [math](https://docs.python.org/3/library/math.html)), such as:
```python
import math

math.sqrt()  # square root
math.pow()  # value of x to the power of y, eq. to x**y
math.gcd()  # greatest common divisor of two integers
math.factorial()  # factorial, ie. k!
```

In [ ]:
import math

print(math.sqrt(25))

5.0

In [ ]:
# 4! = 4 * 3 * 2 * 1 = 24
math.factorial(4)

24

### Random numbers

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>NUMBERS</font>**

Another useful package is `random` module that allows to generate random and pseudo-random numbers which is esp. needed in games, loteries and statistics (see more on [random](https://docs.python.org/3/library/random.html)), such as:
```python
import random

random.choice()  # randomly selected element of a sequence
random.randint(a, b)  # randomly selected integer between a and b
random.random()  # random float between 0 and 1
random.seed()  # to control pseudo-randomness
```

In [ ]:
import random

random.choice([1,2,8])

8

In [ ]:
random.randint(10, 30)

16

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Comparison & logical operators

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>OPERATORS</font>**

Besides arithmetic operations on numbers, one can compare both with each other. To introduce algebraic system of logic we use **Boolean data type** that have only two possible values - `True` and `False` and now we can compare various objects with:
* `and` - logical check if both are `True`
* or - logical check if at least one is `True`
* not - logical check if not `True` (eq. to `False`)
* $==$ equal to
* $!=$ not equal to
* $>$ greater than
* $\ge$ greater (than) or equal to
* $<$ less than
* $\le$ less (than) or equal to

In [ ]:
True and False, True and True, True or False, False or False

(False, True, True, False)

In [ ]:
not True

False

In [ ]:
2 == 2, 2 == 2.0, 2 != 2, 2 == 3

(True, True, False, False)

In [ ]:
2 > 3, 3 > 2, 2 <= 2, 3 <= 2

(False, True, True, False)

### Conditional programming if... else...

With Boolean operators and Boolean data type, we can introduce conditional programs that do things differently based on certain conditions:

In [ ]:
if 6 - 4 == 2:
    print("Correct!")

Correct!

In [ ]:
if 6 - 4 == 4:
    print("Correct!")

In [ ]:
if 6 - 4 == 4:
    print("Correct!")
else:
    print("Incorrect :(")

Incorrect :(

**<font color='#306998'>ALPHANUMERIC </font><font color='#ffd33b'>ORDER</font>**

It turns out that we can compare not only numbers and boolean values but also strings (text) by introducing alphanumeric order.

> Alphanumeric order refers to a set of filing rules to follow when putting symbols, numbers and letters in order both numerically and alphabetically. For example, ‚Äú100% American‚Äù would come before ‚Äúapple‚Äù in an alphanumerically sorted list.<br>
The basic principles of sorting words, symbols and numbers alphanumerically are to first list words alphabetically, then for any subsequent unit. For example, for ‚ÄúJohnson Boats and Johnson Cars,‚Äù sort the subsequent units alphabetically as well. Symbols are first in sort order, followed by numerals. For example, ‚Äú#1 Autos‚Äù comes before ‚Äú12 Brothers Auto.‚Äù Another rule to follow is nothing comes before something. For example, oak comes before oak tree.

https://www.reference.com/world-view/alphanumeric-order-774924f1a6bf2e91

In [ ]:
'alice' > 'cat', 'alice' < 'cat', 'alice' == 'cat', 'alice' != 'cat'

(False, True, False, True)

In [ ]:
'1_alice' < 'alice', '1_alice' > 'alice', 'alice_1' < 'alice_2'

(True, False, True)

Notice, that the types have to match! The following expression
```python
'1' < 'a'
```
works perfectly fine, whereas
```python
1 < 'a'
```
will return `TypeError` ‚ùó

In [ ]:
'1' < 'a'

True

In [ ]:
1 < 'a'

TypeError: ignored

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Variables

**<font color='#306998'>STORING INFORMATION </font><font color='#ffd33b'>FOR LATER USE</font>**

A **variable** is a container for data and allows to refer to it later on. Each variable has a name, value, type and its space in memory.

```python
my_var = 42
```
where
* `my_var` is a variable **name**,
* `=` is an **assignment** sign,
* `42` is a variable **value**.

Create as many as you want, but remember to give them unique names!

In [ ]:
var_test

NameError: ignored

Before trying to get the variable's value you need to create one (formally **declare a variable**):

In [ ]:
var_test = 13

In [ ]:
var_test

13

In [ ]:
var_test - 5

8

#### Updating variables

The easiest way to update variable's value is to assign a new velue to the existing variable.

In [ ]:
my_variable = 5
print(f"Initial value {my_variable}")

my_variable = 2
print(f"New/overwritten value {my_variable}")

Initial value 5
New/overwritten value 2

Sometimes, you will need to change value based on its previous condition.

If we have a certain variable in which we hold a number and we want to increase its value by a certain number, it can be done in two ways:
 * get the previous value and overwrite it `a = a + 2`
 * do it in one step `a += 2`

Same as for addition (operator +=), we also have multiplication, division, exponentiation and modulo: `*=, /=, **=, %=`, respectively.

In [ ]:
my_variable = 5
print(f"Initial value {my_variable}")

my_variable = my_variable + 2
print(f"New/overwritten value {my_variable}")

Initial value 5
New/overwritten value 7

In [ ]:
print(f"Initial value {my_variable}")

my_variable -= 3
print(f"New/overwritten value {my_variable}")

Initial value 7
New/overwritten value 4

### Naming convention
There are some rules for both **function and variable names** that should always start with a lowercase letter. Note that Python is case sensitive, so `foo` and `Foo` are two different names and the later one is reserved for **classes** and **objects**.

Always try to pick a name that best describes the variable content. Do not worry about long names - it's better than using non-standard and hard-to-read abbreviations or one-letter names which often are ambiguous and uninformative.

If the name consists of several words, we usually separate them with an underscore `_`.

><table>
<!-- header -->
<tr>
    <th><font color='red'> BAD </font></th>
    <th><font color='green'> GOOD </font></th>
</tr>

<!-- first row -->
<tr>
<td>

```python
i = 3
```
</td>

<td>

```python
n_bananas = 3
```
</td>

</tr>

<!-- second row -->
<tr>
<td>

```python
fpd = 152.75
```
</td>

<td>

```python
final_price_dollars = 152.75
```
</td>
</tr>

<!-- third row -->
<tr>
<td>

```python
3_months_interest = 1128,13
```
</td>

<td>

```python
interest_3_months = 1128,13
```
</td>
</tr>

<!-- fourth row -->
<tr>
<td>

```python
total-groceries = 51
```
</td>

<td>

```python
total_groceries = 51
```
</td>
</tr>

</table>

* The double underscore is called **dunder**. Functions that start and end with a dunder (e.g., `__name__`) are called special functions.
* You can use lowercase and uppercase letters `a-z` and `A-Z`, numbers `0-9` and underscores `_`, however, the name **cannot start with the number**‚ùó
* note that these names are not the same
```python
myvar = 5
MyVar = 7
```
and **<font color='#306998'>CAMEL-</font><font color='#ffd33b'>CASE</font>**, e.g. MyCustomClassName, is reserved for class names
* also, look out for **reserved keywords** that should not be used as identifiers (`and, as, import, from, assert, class, def, True, False, or, None` etc.)

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Strings

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>STRINGS</font>**

What about text? How to store and use text in Python?

String is a sequence of characters including letters, numbers and stop signs.

In [ ]:
'Name' + 'Surname'

'NameSurname'

In [ ]:
'Python' * 3

'PythonPythonPython'

In [ ]:
'Python' - 'on'

TypeError: ignored

In [ ]:
my_text = "It's a string"

# single quote will not work with apostrophe in a sentence
my_text = 'It's not a string'

SyntaxError: ignored

In [ ]:
# unless you'll use an escape character (backward slash)
my_text = 'It\'s also a string'

### String basic formatting

In [ ]:
user_name = input("What is your name? ")

What is your name? Piotr

There are multiple ways to format a string, ie. adjust is based on selected values. Previously introduced are
* %operator
```python
print("Hello %s!" % user_name)
```
* .format()
```python
print("Hello {0}!".format(user_name))
```
* f-strings
```python
print(f"Hello {user_name}!")
```

In [ ]:
f"Hello {user_name}!"

'Hello Piotr!'

### String operations

In [ ]:
'python'.capitalize()

'Python'

In [ ]:
'two words'.capitalize()

'Two words'

In [ ]:
'SDA'.lower()

'sda'

In [ ]:
user_name.center(15)

'     Piotr     '

In [ ]:
'How many letters "a" are there in a sentence?'.count('a')

4

In [ ]:
# look for a first letter "a" in a sentence
'How many letters "a" are there in a sentence?'.find('a')

5

In [ ]:
'How many letters "a" are there in a sentence?'.endswith('sentence?')

True

It is worth playing around with other string methods, especially:
```python
.format()
.isalnum()
.isalpha()
.isascii()
.islower()
.lower()
.strip()  # removes white spaces
.startswith()
.replace()
.split()  # splits the object into arrays, treating the given string as a separator (by default it is a space)
.title()
.join()  # joins several strings into one
```
see more [here](https://docs.python.org/3/library/stdtypes.html#string-methods).

**<font color='#306998'>STRING </font><font color='#ffd33b'>LENGTH</font>**

In [ ]:
len(user_name), len("My custom text")

(5, 14)

In [ ]:
assert len("My custom text") == 14

**<font color='#306998'>SPLIT A </font><font color='#ffd33b'>STRING</font>**

In [ ]:
"Name Surname".split()

['Name', 'Surname']

In [ ]:
"Name,Surname".split(',')

['Name', 'Surname']

In [ ]:
"Name\tSurname".split('\t')

['Name', 'Surname']

In [ ]:
print("Name\tSurname")

Name	Surname

In [ ]:
print("Name\nSurname")

Name
Surname

In [ ]:
f"Hello {user_name}".replace(user_name, "SDA")

'Hello SDA'

**<font color='#306998'>REVERSE A </font><font color='#ffd33b'>STRING</font>**

In [ ]:
user_name[0], user_name[-1]

('P', 'r')

In [ ]:
user_name[2:4]

'ot'

In [ ]:
user_name[::-1]

'rtoiP'

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# Functions - a few words about functional programming

<br><br>
**<font color='#306998'>PYTHON </font><font color='#ffd33b'>FUNCTION</font>** is a clearly separated piece of code with one specific task.

Function declaration begins with the **def** keyword and is followed by the **name** of the function, e.g. compute_bmi().
Within parentheses, we optionally specify the list of **function arguments**, separated by commas (here, we have two: weight and height). Next, in the **function body** we describe what it does and we can end it with **`return` clause**.

We already used some of built-in functions like `len()` or `type()`. It's time to create one on our own!

In [ ]:
def my_first_function():
    pass

In [ ]:
my_first_function()

In [ ]:
def print_user_name():
    print(user_name)

In [ ]:
print_user_name()

Piotr

In [ ]:
def say_hello_to_user(name):
    print(f"Hello {name}, nice to meet you!")

In [ ]:
say_hello_to_user("Fake name")

Hello Fake name, nice to meet you!

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Example

Why do we need it? For code reusibility - write your piece of code once and use it whenever needed - for example we can compute BMI for each attendee of the course.

In [ ]:
def compute_bmi(weight, height):
    bmi = weight / height ** 2
    if bmi < 18.5:
        result = 'underweight'
    elif bmi > 25:
        result = 'overweight'
    else:
        result = 'normal'
    return result

In the line below, **ask the user for the input** and store his/her  body weight in the variable `user_weight` for the later use.

Data from the user is obtained using the standard `input()` function, which takes as an argument the message that will be displayed to the user (in the example below: `"Your weight [kg]: "`).

The `input()` function returns `string`, but we need a number, so we have to convert the text to number with `float()` or `int()` function. Note, that this may of course fail if the user enters something that is not a numerical value.

In [ ]:
user_weight = float(input("Your weight [kg]: "))

Your weight [kg]: 56

Next, we save the results returned by the function and assign its value to the `user_result` variable. The `=` sign in this case (as in all other lines) is the assignment sign, so you can read it: assign to what is on the left side (i.e. to the variable user_result) the value which is on the right side (i.e. the result of the function compute_bmi).

In [ ]:
user_result = compute_bmi(user_weight, 185)

In [ ]:
user_result

'underweight'

In [ ]:
if __name__ == '__main__':
    user_weight = float(input("Your weight [kg]: "))
    user_height = float(input("Your height [m]: "))
    user_result = compute_bmi(user_weight, user_height)
    print(f'You are {user_result}!')

Your weight [kg]: 55
Your height [m]: 1.75
You are underweight!

The `print()` function takes the text given as the function argument and displays it to the console. However, in this case, the text cannot be interpreted literally. We let us know about it by putting the letter `f` in front of the text. This means that we have created the so-called `f-string`.

You can use the previously introduced variables within an f-string to print out its value.


```python
print(f'You are {user_result}')
```

**<font color='#306998'>TASK </font><font color='#ffd33b'>FOR YOU</font>**

Try to rewrite `compute_bmi()` function, such that, it returns not only the `user_results`, but also BMI value. Print it out together with the result and make sure that the value is rounded to two decimal places.

*For example: "You are normal, your BMI is around 23.15."*

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Default arguments

In Python, a function can have **default arguments**.
In this case, in the signature of the function (the part consisting of the function name and the list of its parameters), we can provide the default value for selected arguments by using **an equal sign**.
* Arguments without default values must precede arguments with default values, the two cannot be mixed.
* When calling the function, you can limit yourself to specifying parameters that do not have default values, or you can also specify those that have a default value to overwrite it.

In [ ]:
def say_hello_to_user(name=None):
    if name == None:
        print("Hello incognito user :)")
    else:
        print(f"Hello {name}, nice to meet you!")

In [ ]:
say_hello_to_user()

Hello incognito user :)

In [ ]:
say_hello_to_user(user_name)

Hello Piotr, nice to meet you!

In [ ]:
say_hello_to_user(name=user_name)

Hello Piotr, nice to meet you!

In [ ]:
def say_hello_to_user(name, surname=None):
    if surname:
        full_name = " ".join([name, surname])
    else:
        full_name = name
    print(f"Hello {full_name}, nice to meet you!")

In [ ]:
say_hello_to_user("James")

Hello James, nice to meet you!

In [ ]:
say_hello_to_user(name="James", surname=None)

Hello James, nice to meet you!

In [ ]:
say_hello_to_user("James", "Bond")

Hello James Bond, nice to meet you!

In [ ]:
say_hello_to_user(surname="Bond")

TypeError: ignored

As in example above, you can see that when calling a function, we can **pass its arguments by positions** in the same order as they are declared. We do not have to give the names of the parameters then.

However, sometimes, we want to give the arguments to the function parameters in a **specific and changed order** and you can do it only when passing parameter names as well as their values.

Also, often, to **improve code readability we provide entire pair** (parameter name and selected argument). It saves time and is more bug-prone (we do not have to look back at the function declaration). Moreover, you have to use parameter name if you want to overwrite the default value which is in sequence later than another default parameter, for which we don't want to change the default value.

In [ ]:
def my_function(level="Basic", language="Java"):
    course_name = " ".join([level, language])
    print(f"The current course is about \"{course_name}\".")

In [ ]:
my_function()

The current course is about "Basic Java".

In [ ]:
my_function("Python")

The current course is about "Python Java".

In [ ]:
my_function(language="Python")

The current course is about "Basic Python".

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## `return` statement

Fun fact: a function always returns a value, even if you omit the return word in its body!

If return is omitted, the function returns None.

In [ ]:
def return_none_check():
    pass

In [ ]:
assert return_none_check() == None

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Type hints

Since Python version 3.5, it has been possible to suggest the type of function parameters and the return value.
* Of course, Python continues to be dynamically typed language and the guidelines are only the suggestions for users.
* However, there are additional tools (such as mypy) that do static type analysis. PyCharm also understands type annotations and displays warnings if it detects a problem.
* Annotations are placed on the function argument list. After each argument, we write a colon followed by the name of the type that the argument should have.
* We write the expected return type after the arrow.

In [ ]:
def compute_bmi(weight: int, height: float) -> str:
    bmi = weight / height ** 2
    if bmi < 18.5:
        result = 'underweight'
    elif bmi > 25:
        result = 'overweight'
    else:
        result = 'normal'
    return result

In [ ]:
compute_bmi(50, 175)

'underweight'

In [ ]:
def compute_bmi(weight: int, height: float) -> int:
    bmi = weight / height ** 2
    if bmi < 18.5:
        result = 'underweight'
    elif bmi > 25:
        result = 'overweight'
    else:
        result = 'normal'
    return result

In [ ]:
compute_bmi(50, 1.75)

'underweight'

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# More complex data types

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Lists - `[]`, `list()`

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>LIST</font>** is an ordered collection of consecutive objects.

Imagine a **menu card** in a restaurant where each dish has an ordinal number - it's also the example of a list. When you place an order, you simply enter the **ID numbers** of the dishes you want. If a restaurant wants to add a new order to its menu, the easiest way is to add it to the end of the list and give it another order number.<br>
The situation becomes more complicated when a restaurant wants to **add a new dish** to the beginning of the menu or somewhere in the middle, as the rest of the dishes have to be renumbered. And the same thing happens when we **delete some positions** - it's easy to delete the last item, but when we delete an item from the middle it is neccessary to update the ordinal number of the remaining dishes.

In [ ]:
my_list_1 = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
empty_list = []
empty_list_1 = list()

assert empty_list == empty_list_1

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(3, 15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(3, 15, 2))

[3, 5, 7, 9, 11, 13]

### List elements/items

* Each element of the list can be accessed by its index (ID, ordinal number) by using the `[]` operator. In Python and most programming languages, **indexes start at zero**, so to accesses the first element of the list you need to use `list[0]`.
* A negative index means end-access, e.g. `-1` is the index of the last element and `-2` is the index of the last but one element (penultimate).

In [ ]:
print(my_list_1[0], my_list_1[-1], my_list_1[3])

1 7 4

* You can easily modify the contents of the list at a given index by assignment.

In [ ]:
my_list_1[3] = 'my_new_value'

In [ ]:
print(my_list_1)

[1, 2, 3, 'my_new_value', 5, 6, 7]

### Indexing

* While indexing the list with square brackets you can put much more than just a single index:
 * two numbers separated by colon represent the list subset, ie. range that starts with the first index of interest and continues up to (but without) the second number,
```python
my_list_1[2:5]
```
 * three numbers separated by colons represent the range as previously and additionaly allows to specify the step,
```python
my_list_1[2:5:2]
```
 * if the step is a negative number the elements order will be inverted
```python
my_list_1[2:5:-1]
```
 * you can also skip some of the three numbers and the defaults will be taken - for the first number it is the beginning of the list, for the second number it is the end and default step is equla to 1
```python
my_list_1[2::-1]
```

In [ ]:
my_list_1[2:5]

[3, 'my_new_value', 5]

In [ ]:
my_nested_list = [[1, 2], [3, 4]]

In [ ]:
my_nested_list[0]

[1, 2]

In [ ]:
my_nested_list[1][-1]

4

### Combine two lists

* if we want to combine elements from two distinct lists
 * we can just add them with `+` operator to create a new list
```python
[1, 2, 3] + ['a', 'b']
>>> [1, 2, 3, 'a', 'b']
```
 * or use the `.extend()` method to update the first list with items from the second one
```python
first_list = [1, 2, 3]
first_list.extend(['a', 'b'])
print(first_list)
>>> [1, 2, 3, 'a', 'b']
```

In [ ]:
first_list = [1, 2, 3]
second_list = ['a', 'b', 'c']

new_list = first_list + second_list
print(new_list)

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
print(first_list)

first_list.extend([0])
print(first_list)

[1, 2, 3]
[1, 2, 3, 0]

 * append - to add object ot the end of the list

In [ ]:
print(first_list)

first_list.append(7)
print(first_list)

[1, 2, 3, 0]
[1, 2, 3, 0, 7]

At first sight, it seems that `.append()` and `.extend()` can be used interchangably, however, notice the difference when the input is a list not a single item.

In [ ]:
first_list.append([7, 8, 9])
first_list

[1, 2, 3, 0, 7, [7, 8, 9], 7, 8, 9, [7, 8, 9]]

In [ ]:
first_list.extend([7, 8, 9])
first_list

[1, 2, 3, 0, 7, [7, 8, 9], 7, 8, 9, [7, 8, 9], 7, 8, 9]

In [ ]:
first_list.pop()

9

In [ ]:
first_list.pop(4)  # index-based

7

### Remove selected items

So far we've only seen the `.append()`, `.extend()`, and `.pop()` methods, which let you add an item to existing list, combine two lists by adding the new items to the end, or remove a single item.
* to remove an item from the middle of the list, use the `del` keyword and give its index in square brackets
* to add an item to the top of the list, you must use the `addition operator`
* you must use the range operator to add an item to the middle of the list.

These operations are inconvenient and their use is not recommended.

In [ ]:
my_list_1 = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
removed_item = my_list_1.pop(3)
print(removed_item, my_list_1)

4 [1, 2, 3, 5, 6, 7]

In [ ]:
del my_list_1[3]
print(my_list_1)

[1, 2, 3, 6, 7]

In [ ]:
my_list_1 = [0] + my_list_1
my_list_1

[0, 1, 2, 3, 6, 7]

In [ ]:
my_list_1 += [8]
my_list_1

[0, 1, 2, 3, 6, 7, 8]

In [ ]:
my_list_1[:4] + ['a'] + my_list_1[-3:]

[0, 1, 2, 3, 'a', 6, 7, 8]

In [ ]:
# to remove value 6 not knowing its index
my_list_1.remove(6)
my_list_1

[0, 1, 2, 3, 7, 8]

### Standard operations

Python provides a set of standard functions, some of which also operate on lists.
* the `.min()` function returns the lowest item value in the list, `.max()` the highest, and `.sum()` the sum of all the items (if they can be added, ie. they are all numbers)
* the `.len()` function returns the length of the list, ie. the number of items defined within the list
* the `.reversed()` function allows you to change the item order in the list (equivalent to `[::-1]` indexing)

In [ ]:
 a_list = [8, 3, 5, 7, 2, 1]

In [ ]:
max(a_list), min(a_list), sum(a_list), len(a_list)

(8, 1, 26, 6)

**<font color='#306998'>SORT </font><font color='#ffd33b'>LIST ITEMS</font>**

Python provides two built-in ways of sorting lists
 * the function `.sorted()`
 * and the method `.sort()`

The primary difference is that `.sort()` works in-place (updates the list by mutating its indexes and returns `None`) whereas `.sorted()` creates a new list (leaving the original list unchanged).<br>
Use `.sort()` method whenever mutating the list is intended and you will not need the original order of the elements in the future. If you want to get a copy of a list, or to sort elements of an iterable (ie. not only lists but also i.a. tuples, dictionaries and strings) use more versatile function `.sorted()`.

In [ ]:
sorted(a_list)

[1, 2, 3, 5, 7, 8]

In [ ]:
isinstance(sorted(a_list), list)

True

In [ ]:
isinstance(a_list.sort(), list)

False

In [ ]:
a_list.sort() == None

True

In [ ]:
a_list.sort()

Other useful methods for Python lists:
* `.count()` - to count the number of occurences of chosen element
* `in` - to check if the element is in a list
* `.index()` - to find an index (ie. position) of an element
* `reverse` argument in `.sort()` and `sorted()`

### `.range()`

Yet another important function is `.range()` (strictly speaking, it's not a function, but a method - more in OOP section).

`.range()` returns a sequence of integers:
* `.range(n)` returns consecutive integers starting from $0$ end ending with $n-1$
* `.range(a, b)` returns consecutive integers starting from $a$ end ending with $b-1$
* `.range(a, b, c)` returns an arithmetic sequence of numbers $[a, a + c, a + 2c, ...]$ all the way up to $b-1$

By using the range function you can create lists quickly.

In [ ]:
range(10)

range(0, 10)

In [ ]:
isinstance(range(10), list), isinstance(range(10), range)

(False, True)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2, 13))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
list(range(0, 30, 5))

[0, 5, 10, 15, 20, 25]

In [ ]:
list(range(0, 31, 5))

[0, 5, 10, 15, 20, 25, 30]

In [ ]:
list(range(0)), list(range(0, -10))

([], [])

In [ ]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

### `in` operator

<img src="https://drive.google.com/uc?export=view&id=1dqm4po5DlRzQEJjM5FwiWZi93Is1mURO" alt="A needle in a haystack" width="350" align='right' hspace="50px" vspace="30px"/>

<br><br>
To check if an item can be found in the list, you can use the **`in` operator**. However, sometimes the answer to the question *"does an item belong to a list"* is not enough and we need to know the exact position (ID; index) of the item in the list. In this case, call the `.index()` method on the list, which takes as an argument the element that we search for.<br>
Note that if there are several such items in the list, the `.index()` method will return only the position of the first one.

In [ ]:
haystack = list(range(1, 5))
needle = 2

print(needle in haystack)

True

In [ ]:
haystack.index(needle), haystack.index(2)

(1, 1)

In [ ]:
another_needle = 0

print(another_needle in haystack)

False

In [ ]:
haystack.index(another_needle)

ValueError: ignored

In [ ]:
haystack_1 = haystack + [3]

# returns only the first index
haystack_1.index(3)

2

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Sets - `{}`, `set()`

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>SET</font>** is another complex data type in Python after lists. It's the **collection of elements** that can be imagined as a bag. When you put your hand in the bag, you never know what you will get out of it. It's the same with sets - unlike lists, **the order of the items in a set is not fixed (nor essential)**. Another difference is that the elements of a set are never repeated (ie. duplicated) - meaning that **all elements are unique**.

To create a new set, list its comma-separated elements in curly braces `{}` or create it using a pre-defined list with a `set()` function (by changing data type).

Note that it allows you to easiely remove duplicates from the list.

In [ ]:
my_set = {1, 2 ,3, 4}

print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 2, 3, 3, 3, 4, 3}

print(my_set)

{1, 2, 3, 4}

In [ ]:
list_with_duplicates = [1, 2, 3] * 2

print(list_with_duplicates)

[1, 2, 3, 1, 2, 3]

In [ ]:
list_wo_duplicates = list(set(list_with_duplicates))
print(list_wo_duplicates)

[1, 2, 3]

### Standard operations

* the `.add()` method allows you to add a new element to the set
* the `.update()` method allows you to add elements from another set to a set of interest
* the `.remove()` method removes an item from the collection
* the `.clear()` method removes all items from the set
* the already known built-in functions `len()`, `min()`, `max()`, and `sum()` also work well with sets.

Note that an empty set cannot be created with the literal `{}` as it is reserved for an empty dictionary (see more in section about *Dictionaries*).

To create an empty set, you can use the `.set()` function with no arguments specified.

In [ ]:
a_set = set()
a_set.add(5)
a_set.add(5)

print(a_set)

{5}

In [ ]:
a_set.update({1, 2, 3})
print(a_set)

{1, 2, 3, 5}

In [ ]:
len(a_set), max(a_set), min(a_set), sum(a_set)

(4, 5, 1, 11)

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Dictionaries - `{}`, `dict()`

**<font color='#306998'>PYTHON </font><font color='#ffd33b'>DICTIONARY</font>** is a data structure that is similar to a phone book or encyclopedia. We look under a certain **key** (subscriber's name, encyclopedic keyword), and in return we get useful **value** (telephone number, definition of the term, etc.).

A dictionary is like a set in the sense that its **keys must be unique**. However, the set does not associate the key with any value, and the dictionary does.

We create a dictionary by defining **`key: value` pairs**, where key is separated from its value with a colon, whereas the consecutive pairs are separated with commas. The entire dictionary definition is enclosed in curly braces (similarly to the set) or with `dict()` function.

In [ ]:
my_phonebook = {
    'police': 997,
    'pizza': 467,
    'emergency': 112
}

my_phonebook_ = dict(police=997, pizza=467,emergency=112)

assert my_phonebook == my_phonebook_

### Dict elements
* to refer to dictionary value of the corresponding key we use the `[]` operator
* use the same operator to change the value under a given key
* to remove an item, ie. key and the corresponding value, from the dictionary, use the already familiar `del` keyword.

The values in the dictionary can be of different types. Likewise, the keys must meet certain minimum requirements, which we will discuss later.

In [ ]:
my_phonebook['pizza']

467

In [ ]:
my_phonebook['girlfriend'] = 'Forever alone :P'
print(my_phonebook)

{'police': 997, 'pizza': 467, 'emergency': 112, 'girlfriend': 'Forever alone :P'}

In [ ]:
del my_phonebook['girlfriend']
print(my_phonebook)

{'police': 997, 'pizza': 467, 'emergency': 112}

In [ ]:
my_phonebook['pizza'] = 12321
print(my_phonebook)

{'police': 997, 'pizza': 12321, 'emergency': 112}

Like a `set`, a dictionary is also optimized for checking if a given key exists in it or not and for extracting the values from under a given key. Therefore, there is no index method.

If we use the `[]` operator to get a key that does not exist in the dictionary we will get an error. To avoid an error in this situation, use the `.get()` method, which returns `None` if there is no such key, or the default value if specified.

We can create an empty dictionary using the literal `{}` or function `dict()`.

In [ ]:
my_phonebook['boyfriend']

KeyError: ignored

In [ ]:
my_phonebook.get('boyfriend')

In [ ]:
my_phonebook.get('boyfriend', 'Not there yet')

'Not there yet'

In [ ]:
my_phonebook.get('police')

997

In [ ]:
isinstance({}, dict), {} == dict()

(True, True)

The dictionary provides three important methods:
* `.keys()` - returns the collection of all keys
* `.values()` - returns the collection of all values
* `.items()` - returns the collection of all pairs (key: value).

Note that when iterating through a dictionary in a for loop, each subsequent element is a key, not a pair (key, value) and the `in` operator enables checking whether a given key (but not a value) is in the dictionary.

In [ ]:
'police' in my_phonebook

True

In [ ]:
'bakery' in my_phonebook

False

In [ ]:
my_phonebook.keys()

dict_keys(['police', 'pizza', 'emergency'])

In [ ]:
my_phonebook.values()

dict_values([997, 467, 112])

In [ ]:
my_phonebook.items()

dict_items([('police', 997), ('pizza', 467), ('emergency', 112)])

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# Loops

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## "for" loop

The `for` loop is used to perform some operation on each element of the list (or more generally iterable).

In [ ]:
for i in [2,5,6]:
    print(i)

2
5
6

In [ ]:
for i in [2,5,6]:
    if i % 2 == 0:
        print(i)

2
6

We can also perform some task repeatedly...

In [ ]:
def sheldon_knock(name, length=3):
    for i in range(length):
        print(f'{name}!')

sheldon_knock('Penny')

Penny!
Penny!
Penny!

In [ ]:
sheldon_knock('Penny', 5)

Penny!
Penny!
Penny!
Penny!
Penny!

With the `for` loop we can, for example, implement a function that finds the largest element from a list of positive integers (our primitive version of the max function). First, we assign the smallest possible result, 0, to the variable largest. For each item in the list, we check if it is not greater than the current largest item, and if so, we update the value of the largest variable.

In [ ]:
def my_max(sequence):
    largest = 0
    for element in sequence:
        if element > largest:
            largest = element
    return largest

In [ ]:
my_max([1,2,5,1,4,9,2])

9

In [ ]:
def my_max(sequence):
    largest = 0
    for element in sequence:
        if element > largest:
            largest = element
        print(f"Current largest element is {largest}")
    return largest

In [ ]:
my_max([1,2,5,1,4,9,2])

Current largest element is 1
Current largest element is 2
Current largest element is 5
Current largest element is 5
Current largest element is 5
Current largest element is 9
Current largest element is 9

9

In [ ]:
def my_max(sequence):
    largest = 0
    for i, element in enumerate(sequence):
        if element > largest:
            largest = element
        print(f"Step {i}: current largest element is {largest}")
    return largest

In [ ]:
my_max([1,2,5,1,4,9,2])

Step 0: current largest element is 1
Step 1: current largest element is 2
Step 2: current largest element is 5
Step 3: current largest element is 5
Step 4: current largest element is 5
Step 5: current largest element is 9
Step 6: current largest element is 9

9

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## "while" loop

The while loop works as long as the logical condition given in its definition is met.

Let's implement a countdown based on the while loop.
We count down starting from a given number down to zero.

In [ ]:
def count_down(number):
    while number:
        print(number)
        number -=1
    print("Time's up!")

In [ ]:
count_down(10)

10
9
8
7
6
5
4
3
2
1
Time's up!

In [ ]:
import time

def count_down(number):
    while number:
        print(number)
        number -=1
        time.sleep(1)
    print("Time's up!")

In [ ]:
count_down(10)

10
9
8
7
6
5
4
3
2
1
Time's up!

In [ ]:
# look out!
# count_down(-1)

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## break and continue

Two keywords can significantly affect the behavior of the loop (both while and for).

* `break` interrupts execution of the loop, even if the loop condition is still True
* `continue` breaks the current iteration and skips it advancing to the next loop circuit

In [ ]:
def premature_stop(number):
    while number:
        print(number)
        number -=1
        if number == 5:
            break
    print("false-start")

In [ ]:
premature_stop(10)

10
9
8
7
6
false-start

In [ ]:
def even_count_down(number):
    while number:
        number -=1
        time.sleep(1)
        if number % 2:
            continue
        print(number)
    print("Time's up!")

In [ ]:
even_count_down(10)

8
6
4
2
0
Time's up!

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Isogram example

An isogram is a word in which no letter repeats itself, ie. each letter is unique. For example "Python" is an isogram while "language" and "programming" are not.

Write a program that will ask the user for a word and will print out whether the word is an isogram or not.

**EXEMPLARY SOLUTION**
1. We create a set of letters called `letters`.
1. Initially, the set is empty.
1. We take our word and convert each letter to lowercase.
1. In the `for` loop, we follow each letter in the word and for each letter, we check if it is already in our set.
 * if it is, given word is definitely not an isogram, so we can immediately terminate the function with the result of False
 * otherwise, the letter was not there yet, so we add it to our set

It can be written even simpler way!

In [ ]:
def is_isogram(word):
    letters = set()
    for letter in word.lower():
        if letter in letters:
            return False
        letters.add(letter)
    return True

5. Now, start an endless loop from which you can only break out with the keyword `break`.
1. Get the word from the user, ignore white space from the beginning or the end.
1. Construct an answer based on the result of the `is_isogram()` function.
1. Write out a formatted answer.
1. Ask the user if he wants to keep playing. If not, break the loop.

In [ ]:
if __name__ == "__main__":
    while True:
        my_word = input("Give a word: ").strip()
        answer = "is" if is_isogram(my_word) else "is_not"
        print(f"Word {my_word} {answer} an isogram\n")
        shall_continue = input("Do you want to continue ([y]/n)?: ")
        if shall_continue.lower() != "y":
            break

Give a word: stop
Word stop is an isogram

Do you want to continue ([y]/n)?: n

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Scrable example

<br>
<img src="https://drive.google.com/uc?export=view&id=1KKM1DKoW23-tCFbmxt8iaqu5OGCgHvD5" alt="SDA logo" width="500" align='right' hspace="50px" vspace="50px" title="Scrabble"/>

<br><br><br><br><br>
In Scrabble, each letter has a point value.

Write a program that will ask the user for a word and calculate its point value based on the value of each letter (bonuses are omitted).

<img src="https://drive.google.com/uc?export=view&id=1RjppKARYqmUA0qwYkE18DcNXVc3ZNg33" alt="Letter scores" width="200" align='left' hspace="50px" vspace="10px" title="Scrabble"/>

<br>
Create Python dictionary with letters as keys and their corresponding scores as values.

In [ ]:
ord('a')

97

In [ ]:
letters = []
for i in range(26):
    letter = chr(97 + i)
    letters.append(letter)

In [ ]:
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
point_values = [
    1, 3, 1, 4, 1, 8,
    3, 2, 2, 4, 5, 1,
    3, 1, 10, 1, 1, 4,
    1, 3, 1, 1, 4, 8,
    4, 10
]

In [ ]:
point_values_dict = dict(zip(letters, point_values))
point_values_dict

{'a': 1,
 'b': 3,
 'c': 1,
 'd': 4,
 'e': 1,
 'f': 8,
 'g': 3,
 'h': 2,
 'i': 2,
 'j': 4,
 'k': 5,
 'l': 1,
 'm': 3,
 'n': 1,
 'o': 10,
 'p': 1,
 'q': 1,
 'r': 4,
 's': 1,
 't': 3,
 'u': 1,
 'v': 1,
 'w': 4,
 'x': 8,
 'y': 4,
 'z': 10}

In [ ]:
def scrabble_score(word, scoring=point_values_dict):
    total_score = 0
    for letter in word.lower():
        total_score += scoring[letter]
    return total_score

In [ ]:
if __name__ == "__main__":
    while True:
        my_word = input("Give a word: ").strip()
        score = scrabble_score(my_word)
        print(f"Word {my_word} is worth {score} in Scrabble\n")
        shall_continue = input("Do you want to continue ([y]/n)?: ")
        if shall_continue.lower() != "y":
            break

Give a word: Time
Word Time is worth 9 in Scrabble

Do you want to continue ([y]/n)?: y
Give a word: sick
Word sick is worth 9 in Scrabble

Do you want to continue ([y]/n)?: y
Give a word: sickness
Word sickness is worth 13 in Scrabble

Do you want to continue ([y]/n)?: n

**<font color='#306998'>TASK </font><font color='#ffd33b'>FOR YOU</font>**

Make Scrabble program more useful knowing that:
* user has to type in text (check his/her input)
* user can type `_` as blank letter with no points for it
* there are two blank letters so the user cannot have more than two *_* in a word
* (optional) ask which letters should be scored double and evaluate final score

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# TASKS

## **<font color='#306998'>TASK </font><font color='#ffd33b'>1</font>**

Write a program that will convert the sequence of numbers entered by the user into text, e.g .:

112 -> "one one two"
9973 -> "nine nine seven three"

Hint: you need the input () function, a dictionary and a loop.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>2</font>**

Create a function that takes a list of integers and returns the position of the smallest number in it.

Do not use built-in functions.

*For example, for the list [42, 13, 56, 7, 12, 3, 85] the function should return 5, because the smallest element is found at this index in this list*

## **<font color='#306998'>TASK </font><font color='#ffd33b'>3</font>**

Create a function that checks if the number given by the user is a prime number (divisible only by 1 and itself). The function should take a numeric value and return a logical value of True / False. Also, you should make sure that the input is correct, ie. only natural number can be prime.

*For example, for 11 the function should return True, whereas for 12 ‚Üí False.*

## **<font color='#306998'>TASK </font><font color='#ffd33b'>4</font>**

Create a function that checks if the string given as an argument is a palindrome. (ie. reading it backwards and forwards is exactly the same, e.g. "kayak", "madam").

## **<font color='#306998'>TASK </font><font color='#ffd33b'>5</font>**

Create a function that will calculate the number of upper and lower case letters in a string.


For example, for "The quick Brown Fox" the expected result is
> Number of uppercase letters: 3<br>
Number of lowercase letters : 13

*Hint: use a loop, conditional statement, and appropriate methods for the string.*

## **<font color='#306998'>TASK </font><font color='#ffd33b'>6</font>**

<img src="https://drive.google.com/uc?export=view&id=1LOfUeYkfgzoB98Iun8USlLgZuE_H90ar" alt="SDA logo" width="500" align='right' hspace="30px" vspace="70px" title="Scrabble"/>

<br><br>
Write a function that takes two strings as an input and checks if they are anagrams.
For example:
> "Army" and "Mary" ‚Üí True<br>
"Sharing" and "Sunday" ‚Üí False<br>
"Quid est veritas?" and "Vir est qui adest" ‚Üí True<br>
"Jim Morrison" and "Mr. Mojo Risin" ‚Üí True<br>
"Tom Marvolo Riddle" and "I am Lord Voldemort" ‚Üí True

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# Extra(s)

If you want to know more on repository structure (modules, packages, and libraries), virtual environments and clean code principles, please familiarize yourself with [Basic Python: Extra(s)](https://colab.research.google.com/drive/1t1QgpL5MTMx2TDoE0PE6QyeWAKtjfu9F#scrollTo=ZCe3WDCTl2Rv).

: